*{
    padding: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#img1{
    background: url(imagens/01755f2c-16c9-43b5-9cf1-ceeceeea8ca6.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 250px;
}
header{
    text-align: center;
    background-color: #142a75;
}
h1,h2{
    text-align: center;
    color: #a17bfb;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 1.8rem
}
p{
    font-size: 1.2rem;
    padding: 10px;
}
main{
    margin: auto;
    width: 85vw;
    background-color: #1E293B;
    padding: 10px; 
}
h1{
    padding: 10px;
}
body{
    line-height: 1.6;
    font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
    background-color: #202531;
    color: #F1F5F9;
    padding: 0;
}
a{
    border: 1px solid black;
    padding: 3px;
    color:#A3E635 ;
    text-decoration: none;
}
#links{
    background-color: #8B5CF6;

}
a:hover{
    background-color: #A3E635;
    color: #8B5CF6;
}
footer{
    border: 1px solid black;
    text-align: center;
}
ul,ol{
    padding:27px;
}
iframe{
    display: block;
    margin: auto;
}